<div class='row h-100'>
    <div class='col-3 p-0 stats-chat'>
        <div class='stats-box'>
            <h2 class='text-center'>Characters</h2>
            <div *ngFor='let character of roomData.game.characters' class='card p-2'>
                <div class='d-flex flex-column'>
                    <h4 class='mb-0'>{{character.name}}</h4> 
                    <div class='health-bar'>
                        <div class='bar'>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class='chat-box'>
            <section class='chat-window'>
                <h2 class='text-center'>Chat</h2>
                <article *ngFor='let message of roomData.messages' [ngClass]='{"msg-self" : (message.author === username)}' class='msg-container' id='msg-0'>
                    <div class='msg-box'>
                        <img class='user-img my-auto' id='user-0' src='//gravatar.com/avatar/00034587632094500000000000000000?d=retro' />
                        <div class='flr'>
                            <div class='messages'>
                                <p class='msg' id='msg-0'>{{message.message}}</p>
                            </div>
                            <span class='timestamp'><span class='username'>{{message.author}}</span>&bull;<span class='posttime'>{{message.dateTime|date:'shortTime'}}</span></span>
                        </div>
                    </div>
                </article>
            </section>
            <section class='chat-input'>
                <input (keyup.enter)='sendMessage(messageInputField.value)' type='text' placeholder='Type a message' class='chat-input' #messageInputField/>
                <button (click)='sendMessage(messageInputField.value)' class='send-btn'><img src='https://i.cloudup.com/gBzAn-oW_S-2000x2000.png' width='30px' height='30px'></button>
            </section>
        </section>
    </div>
    <section #map class='col-8 p-0 map grid dndDragzone'>
        <div *ngFor='let square of mapCounter(mapDimension); let i = index;' [style.height.px]='squareSideLength' class='map-square' [dndDropzone] (dndDrop)='onCharacterDrop($event,i)'>
            <ng-container *ngFor='let character of roomData.game.characters'>
                <div *ngIf='character.position === i' class='map-character'
                [dndDraggable]='character'
                (dndStart)='onDragStart($event)'
                (dblclick)='openUpdateCharacterModel(character)'>{{character.name}}</div>
            </ng-container>
            <small style='position: absolute; bottom: 0; font-size: 10px;'>{{i}}</small>
        </div>
    </section>
    <div class='col-1 d-flex flex-column action-panel text-center'>
        <div class='flex-fill mt-3'>
            <button type='button' class='btn add-character-btn' (click)='openNewCharacterModel()'>New Character</button>
        </div>
        <button type='button' class='m-2 btn green-btn' (click)='saveGame()'>Save Game</button>
        <button type='button' class='m-2 btn disconnect-btn' (click)='disconnect()'>Disconnect</button>
    </div>
</div>


