<div class='row h-100'>
    <div class='col-3 stats-chat'>
        <div class='stats-box'>
            <h2 class='text-center'>Characters</h2>
            <div *ngFor='let character of characters' class='card p-1 character-card' (click)='openUpdateCharacterDialogue(character)' [ngClass]="{'card-npc' : character.type === 'NPC'}">
                <div class='d-flex flex-column'>
                    <div class='d-flex flex-row'>
                        <h3 class='flex-grow-1 m-0'>{{character.name}}</h3>
                        <h4 class='m-0'>{{character.characterClass}}</h4> 
                    </div>
                    <div class='health-bar'>
                        <div class='bar' [style.width.%]='setCharacterHealthDisplay(character.health, character.maxHealth)'>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class='chat-box'>
            <h2 class='text-center mb-0'>Chat</h2>
            <section class='chat-window'>
                <article *ngFor='let message of messages' [ngClass]='{"msg-self" : (message.author === username)}' class='msg-container'>
                    <div class='msg-box'>
                        <div class='flr'>
                            <div class='messages'>
                                <p class='msg'>{{message.messageText}}</p>
                            </div>
                            <span class='timestamp'><span class='chat-username'>{{message.author}}</span>&bull;<span class='posttime'>{{message.messageDateTime|date:'shortTime'}}</span></span>
                        </div>
                    </div>
                </article>
            </section>
            <section class='chat-input'>
                <input (keyup.enter)='sendMessage(messageInputField.value)' type='text' placeholder='Type a message' class='chat-input' #messageInputField/>
                <button (click)='sendMessage(messageInputField.value)' class='send-btn'><img src='https://i.cloudup.com/gBzAn-oW_S-2000x2000.png' width='30px' height='30px'></button>
            </section>
        </section>
    </div>
    <div class='col-8 p-0 map-container'>
        <div #map class='map grid dndDragzone'>
            <div *ngFor='let square of mapCounter(mapDimension); let i = index;' [style.height.px]='squareSideLength' class='map-square' [dndDropzone]>
                <ng-container *ngFor='let character of characters'>
                    <div *ngIf='character.position === i' class='map-character' [ngClass]="{'map-npc' : character.type === 'NPC'}">
                        <div class='draggable'
                            [dndDraggable]='character'
                            (dblclick)='openUpdateCharacterDialogue(character)'
                            (click)='selectCharacter(character)'>{{character.name}}
                        </div>
                    </div>
                </ng-container>
                <small style='position: absolute; bottom: 0; font-size: 10px;'>{{i}}</small>
            </div>
        </div>
        <canvas #canvas class='canvas'>
        </canvas>
    </div>
    <div class='col-1 d-flex flex-column action-panel text-center'>
        <div class='flex-fill mt-3'>
            <h3>Controls</h3>
            <button type='button' class='btn add-character-btn mb-2' (click)='openNewCharacterDialogue()'>New Character</button>
            <button type='button' class='btn map-drawing-btn mb-2'  [disabled]="!isDungeonMaster" (click)='toggleMapDrawing()' [ngClass]="{'map-upload-btn' : isDrawing }">{{ isDrawing ? 'Upload Map' : 'Draw Map' }}</button>
            <ng-container *ngIf='isDrawing'>
                <button type='button' class='btn map-drawing-btn mb-2'  [disabled]="!isDungeonMaster" (click)='clearMap()'>Clear Map</button>
                <div>
                    <h3 for="colorpicker" class='mb-0'>Brush Color</h3>
                    <input type="color" id="colorpicker" name="paintBrushColor" #paintBrushColorInput value={{this.paintBrushColor}} (click)='changeBrushColor(paintBrushColorInput.value)'>
                    <h3 for="colorpicker" class='mb-0'>Brush Width {{this.paintBrushSize}}</h3>                    
                    <input type="range" id="paintBrushSizeSlider" min="1" max="100" default='10' value={{this.paintBrushSize}} class="slider" #paintBrushSizeInput (click)='changeBrushSize(paintBrushSizeInput.value)'>
                </div>
            </ng-container>
            <div>
                <h3 for="colorpicker" class='mb-0'>Map Background</h3>
                <input type="color" id="colorpicker" name="mapColor" #mapColor value='#2f323b' (click)='updateMapBackground(mapColor.value)'>
            </div>
        </div>
        <a class='white-btn btn mb-2' href='http://dnd5e.wikidot.com/' target="_blank">Dnd Wiki</a>
        <a class='btn save-button mb-2' title="Download Game Data as JSON" [href]="downloadJsonHref" (click)='saveGame()' download="game-data.json">Save Game</a>
        <button type='button' class='mt-3 mb-2 btn btn-sm red-btn' (click)='disconnect()'>Disconnect</button>
    </div>
    
</div>

