<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark black sticky-top">
    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#">DnD</a></mdb-navbar-brand>
    <!-- Collapsible content -->
        <!-- Links -->
        <ul class="navbar-nav ml-auto">
            <!-- Dropdown
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                Options<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Add Character</a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item waves-light disabled" mdbWavesEffect href="#">Logout</a>
                </div>
            </li> -->

        </ul>
<!-- Search form -->
        <form class="form-inline waves-light" mdbWavesEffect>
            <div class="md-form my-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
            </div>
        </form>
</mdb-navbar>
<!--/.Navbar-->
