<div class='map-container'>
    <div class='p-2 mt-auto button-group-display'>
        <label class='mr-2'>Add Character</label>
        <button class='add-character-button' (click)='createNewCharacter()'>+</button>
    </div>
    <app-character *ngFor='let character of characters' [name]='character.name'></app-character>
</div>
