.map-container {
    width: 80vw;
    height: 100%;
    background-color: tan;
    overflow-y: scroll;
}

.button-group-display {
    position: absolute;
    bottom: 0;
}

.add-character-button {
    background-color: black;
    color: white;
    border-radius: 50%;
    border-style: none !important;
}