<div id="modal-content-wrapper">
    <header id="modal-header">
        <h1 id="modal-title">{{ modalData.title }}</h1>
    </header>
    <section id="modal-body">
        <div class="form-group">
            <label>Name</label>
            <input [(ngModel)]="character.name"  type="text" class="form-control" name='character-name' aria-describedby="characterName" placeholder="Name" [(ngModel)]="character.name">
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <label for="character-health">Health</label>
                    <input [(ngModel)]="character.health" type="number" class="form-control" name='character-health' aria-describedby="characterHealth" placeholder="0">
                </div>
                <div class="col">
                    <label for="character-health">Max Health</label>
                    <input [(ngModel)]="character.maxHealth" type="number" class="form-control" name='character-max-health' aria-describedby="characterMaxHealth" placeholder="0">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="character-position">Position</label>
            <input [(ngModel)]="character.position" type="number" class="form-control" name='character-position' aria-describedby="characterPosition" placeholder="0">
        </div>
        <div class="form-group">
            <label for="character-type">Type</label>
            <div class="form-group text-center">
                <select class="form-select" aria-label="Character type" [(ngModel)]="character.type">
                    <option value="PLAYER">Player</option>
                    <option value="ALLY">Ally</option>
                    <option value="ENEMY">Enemy</option>
                </select>
            </div>
        </div>
        <div class="form-group mt-1">
            <label for="character-class" class='mr-2'>Class/Creature</label>
            <select [(ngModel)]="character.characterClass" name='character-class' aria-describedby="character-class" class="form-control form-select">
                <option disabled>**********Classes**********</option>
                <option disabled [ngValue]='character.characterClass'>{{character.characterClass}}</option>
                <option *ngFor='let currentClass of dndApiService.characterClasses' [ngValue]='currentClass.name'>{{currentClass.name}}</option>
                <option disabled>**********Monsters**********</option>
                <option *ngFor='let currentMonster of dndApiService.monsters' [ngValue]='currentMonster.name'>{{currentMonster.name}}</option>
            </select>
        </div>
    </section>
    <footer id="modal-footer">
        <button class='btn green-btn m-2' (click)="saveCreateCharacter()">{{modalData.actionButtonText}}</button>
        <button class='btn green-btn m-2' *ngIf='modalData.name === "update-character"' (click)="copyCharacter()">Copy</button>
        <button class='btn red-btn m-2' *ngIf='modalData.name === "update-character"' (click)="deleteCharacter()">Delete</button>
        <button class='btn white-btn m-2' (click)="cancel()">Cancel</button>
    </footer>
</div>