.character-circle {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    font-size: 13px;
    color: #fff;
    text-align: center;
    background: blueviolet;
    cursor: pointer;
    margin: 20px;
}
