<div *ngIf='!isPlaying' class='page-container d-flex'>
    <div class='join-room-container'>
        <div class='row fill'>
            <div class='d-flex flex-column input-container'>
                <input type="text" class='join-room-input' #roomCode placeholder='Room Code'>
                <input type="text" class='join-room-input' #username placeholder='Character Name'>
                <input type="button" class='join-room-btn' (click)='joinRoom(roomCode.value, username.value)' value="Join Room">
            </div>
        </div>
    </div>
</div>
<app-room *ngIf='isPlaying'
        [username]='username'
        [roomCode]='roomCode'>
</app-room>




