.page-container {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.join-room-container {
    margin: auto;
    background-color: #2F323B;
    width: 20%;
    height: 30%;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid white;
}

.input-container {
    align-items: center;
    margin-top: auto;
    margin: auto;
}

.join-room-input {
    width: 70%;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #2F323B;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}
.join-room-input:hover {
    transition: .3s;
    background-color: #2671ff;
    color: white;
}
.join-room-input:hover::placeholder {
    color: white;
}
.join-room-input:focus {
    background-color: #2671ff;
}
.join-room-input::placeholder {
    color: grey;
}
.join-room-input:focus::placeholder {
    color: white;
}

.join-room-btn {
    background-color: white;
    color: #2F323B;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-top: 30px;
    letter-spacing: .1rem;
}

.join-room-btn:hover {
    background-color: #2671ff;
    color: white;
    transition: .2s;
}