/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
    overflow-y: hidden;
}

.row {
    margin: 0 !important;
    flex-wrap: nowrap !important;
}